.header{
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}
.header-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo{
    font-size: 30px;
    font-weight: 700;
    color: #f7931a;
}
.header-currency{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #0072DB;
    color: #fff;
    box-shadow: 0 4px 6px rgb(0 0 0 / 25%);
    position: relative;
    min-width: 500px;
    height: 40px;
    justify-content: space-around;
    border-radius: 0 0 50px 50px;
}
.header-currency:before{
    content: '';
    display: block;
    height: 30px;
    background-color: #fff;
    min-width: 2px;
    top: 12%;
    left: 33%;
    position: absolute;
}
.header-currency:after{
    content: '';
    display: block;
    height: 30px;
    background-color: #fff;
    min-width: 2px;
    top: 12%;
    left: 66%;
    position: absolute;
}

.header-currency li {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.header-currency li:last-child{
    margin-right: 0;
}
.header-cur-name{
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    color: #fff;
}
.header-cur-volume{
    display: flex;
    align-items: center;
}
.header-cur-price{
    margin-right: 10px;
}
.header-cur-change{
    font-size: 14px;
    font-weight: 600;
    filter: brightness(150%);
}
